a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: auto 20px;
}

.container_menu {
    margin-bottom: 50px;
}

.block {
    margin-bottom: 40px;
}

.header_item {
    margin-bottom: 5px;
}

.can_item {
    margin-bottom: 5px;
}

.noCan_item {
    margin-bottom: 5px;
}

.only_item {
    margin-bottom: 5px;
}
 
.languages_item {
    margin-bottom: 5px;
}

.end_item {
    margin-bottom: 5px;
}

.main_container {
    justify-content: center;
}

.title {
    text-align: center;
}

.image_wrapper {
    text-align: center;
}

.noCan_description {
    text-align: center;
}

.button_up {
    padding-top: 10px;
    border-radius: 5px;
    display: block;
    background: aqua;
    text-align: center;
    padding-bottom: 10px;
    color: black;
}

.button_wrapper {
    width: 100px;
    height: 40px;
}

footer {
    background-color: gray;
}

.footer_container {
    display: flex;
    margin-top: 20px;
    height: 60px;
    align-items: center;
}

.footer_link {
    align-items: center;
    display: block;
    font-size: 15px;
}